* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* #region header*/
header {
    background: var(--zm-primary);
    color: var(--zm-white);
    position: sticky;
    height: 54px;
}

.container {
    position: relative;
    height: 100%;
}

.view_card {
    background: var(--zm-lightgr);
    color: var(--zm-white);
    width: 120px;
    height: 25px;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
}

.container>i,
.right_sq {
    padding: 0 0.6rem 0 0;
}


/* #endregion header*/

/* #region main*/
main {
    background: var(--zm-primary);
}

/* #endregion main*/

/* #region footer*/
footer {
    background: var(--zm-ft);
    height: 100px;
}

.menu {
    height: 100%;
}

.row {
    display: flex;
    height: 100%;
}

.col_2 {
    display: flex;
    width: calc(100%/12*2);
    height: 100%;
}


.col_8 {
    display: flex;
    width: calc(100%/12*8);
    height: 100%;
    text-align: center;
}

.end_call {
    background: var(--zm-darkgr);
    color: var(--zm-danger);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 45px;
}

/* #endregion footer*/


/* #region utilities*/
.pos_dx_abs {
    position: absolute;
    top: 10px;
    right: 0;
}

.flex_st {
    justify-content: start;
    align-items: center;
}

.flex_ctr {
    justify-content: center;
    align-items: center;
}

.flex_end {
    justify-content: end;
    align-items: center;
}

.padd {
    padding: 0 1rem 1rem;
}

.icon_color {
    color: var(--zm-white);
}

.icon_big {
    font-size: xx-large;
}







.debug {
    border: 1px dashed red;
    height: 100px;
}

:root {
    --zm-primary: #000000;
    --zm-ft: #222222;
    --zm-white: #ffffff;
    --zm-lightgr: #66717a;
    --zm-success: #4bc800;
    --zm-darkgr: #4a4a4a;
    --zm-danger: #e81832;

}

/* #endregion utilities*/