* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* #region header*/
header {
    background: var(--zm-primary);
    color: var(--zm-white);
    position: sticky;
    height: 54px;
}

.container {
    position: relative;
    height: 100%;
}

.container>i, .right_sq {
    padding: 0 0.6rem 0 0;
}

.col_unic {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 5px
}

.card_unic {
    margin: 0.5rem 0.3rem 0 0;
}

.view_card {
    background: var(--zm-lightgr);
    color: var(--zm-white);
    width: 120px;
    height: 25px;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
}


/* .pos_dx_abs {
    position: absolute;
    top: 10px;
    right: 0;
}
 */
/* #endregion header*/

/* #region main*/
main {
    background: var(--zm-primary);
    height: calc(100vh - 154px);
}

.cont {
    width: 100%;
    height: 100%;
}

.row{
    display: flex;

}

.col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100%;
    gap: 5px
}

.card {
    position: relative;
}

.card > img {

    object-fit: contain;
}

.mini_card {
    background: var(--zm-lightgr);
    color: var(--zm-white);
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    padding: 0.1rem 0.1rem;
}

/* #endregion main*/

/* #region footer*/
footer {
    background: var(--zm-ft);
    height: 100px;
}

.menu {
    height: 100%;
}

.col_2 {
    display: flex;
    width: calc(100%/12*2);
    height: 100%;
}


.col_8 {
    width: calc(100%/12*8);
    height: 100%;
    text-align: center;
}

.end_call {
    background: var(--zm-darkgr);
    color: var(--zm-danger);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.padd {
    padding: 0 1rem 1rem;
}

.icon_color {
    color: var(--zm-white);
}

.icon_color_special {
    color: var(--zm-success);
}

.icon_big {
    font-size: xx-large;
}

/* #endregion footer*/


/* #region utilities*/

.flex_st {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.flex_ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex_end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.ov_flow {
    overflow: auto;
}



/* .debug {
    border: 1px dashed red;
} */

:root {
    --zm-primary: #000000;
    --zm-ft: #222222;
    --zm-white: #ffffff;
    --zm-lightgr: #66717a57;
    --zm-success: #4bc800;
    --zm-darkgr: #4a4a4a;
    --zm-danger: #e81832;

}

/* #endregion utilities*/


/*<i class="fa-sharp fa-solid fa-grid"></i>
<i class='fas fa-expand-arrows-alt'></i>

<i class="fa-solid fa-microphone"></i>
<i class="fa-solid fa-video"></i>
<i class="fa-solid fa-user-plus"></i>
<i class="fa-solid fa-user-group"></i>
<i class="fa-solid fa-chart-column"></i>
<i class="fa-solid fa-share-from-square"></i>
<i class="fa-solid fa-comment"></i>
<i class="fa-solid fa-record-vinyl"></i>
<i class="fa-solid fa-ellipsis"></i>

<i class="fa-solid fa-square"></i>
<i class="fa-solid fa-square"></i>
<i class="fa-solid fa-square"></i>
<i class="fa-solid fa-square"></i>

<i class='fas fa-angle-up'></i>
<i class="fa-solid fa-table-cells"></i>*/